{% load static %}
<head>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <title>Enjoy Shoppings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            /* height: 450px */
                height:100vh;
            }
        
        /* Set gray background color and 100% height */
        .sidenav {
          padding-top: 20px;
          /* background-color: #f1f1f1; */
          height: 100%;
        }
        
        /* Set black background color, white text and some padding */
        footer {
          /* background-color: #555; */
          /* color: white; */
          padding: 15px;
        }
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;} 
        }
      </style>
</head>

<nav class="navbar navbar-inverse" style="display: none;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            {% if request.user.is_authenticated %}
              <li ><a href="/">Home</a></li>
              <li><a class="dropdown-item" href="/user/">View User</a></li>
              <li><a class="dropdown-item" href="/post/">View</a></li>
              <li><a class="dropdown-item" href="/post/create">Post</a></li>
            {% endif %}
            <!-- <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li> -->
            {% if not request.user.is_authenticated %}
            <li><a class="dropdown-item" href="/user/create">Create User</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/user/login">Login User</a></li>
            <li><a class="dropdown-item" href="/user/forget">Forget User</a></li>
            {% endif  %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}

        </ul>
      </div>
      
    </div>
  </nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar scroll</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/user/">View User</a></li>
              <li><a class="dropdown-item" href="/user/create">Create User</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/user/login">Login User</a></li>
              <li><a class="dropdown-item" href="/user/forget">Forget User</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/post/">View</a></li>
              <li><a class="dropdown-item" href="/post/create">Post</a></li>
             
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
              <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/user/">View User</a></li>
              <li class="nav-item"><a class="nav-link" href="/post/">View</a></li>
              <li class="nav-item"><a class="nav-link" href="/post/create">Post</a></li>
              <li class="nav-item"><a class="nav-link" href="/shops/">Shops</a></li>
            {% endif %}
            <!-- <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li> -->
            {% if not request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/user/create">Create User</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/login">Login User</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/forget">Forget User</a></li>
            <li class="nav-item"><a class="nav-link" href="/shops/">Shops</a></li>
            {% endif  %}
            <li class="nav-item"><a class="nav-link" href="#"> </a></li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search" action="{% url 'Search'%}"  method="get">
          <!-- {% csrf_token %} -->
          <input class="form-control me-2" type="search" id="product" name="product" value="" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class=" nav navbar-nav navbar-right">
          {% if not request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}

        </ul>
        <ul class=" nav navbar-nav navbar-right">
          <button type="button" class="btn btn-secondary" id="popcart"
        data-bs-toggle="popover" data-bs-placement="bottom"
        data-bs-custom-class="custom-popover"
        data-bs-title="My Cart"
        data-bs-html="true"
        data-bs-sanitize=false        
        data-bs-content="No Items in your cart!!">
        Cart (<span id="cart" class="cart-summary" >0</span>)
        </button>  
        
      </ul>
      
      </div>
    </div>
  </nav>