{% extends 'Base.html' %}

{% block content%}
<div class="container-fluid my-2">
    <div class="container" >
        <div class="row"> 
        <h4 class="text-center alert alert-info">Create Post</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success btn-sm" value="Save"/>
                <a href="/post/" class="btn btn-success btn-sm">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content%}