{% extends 'Base.html' %}

{% block content%}

<div class="container-fluid my-2">
    <div class="container" >
        <div class="row"> 

            <div class="container-box">
                <h4 class="text-center alert alert-info">View Post Html</h4>
                {% if Posts %}
                
                    <div class="bd-example">
                        <table class="table table-hover">
                            <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Type</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for post in Posts %}
                            <tr>
                                <th scope="row">{{post.id}}</th>
                                <td>{{post.post_title}}</td>
                                <td>{{post.post_content}}</td>
                                <td>{{post.post_type}}</td>
                                <td>{{post.post_additionalContext}}</td>
                                <td><div class="btn-group-vertical">
                                    <table>
                                        <tr>
                                            <td><form action="#" method="POST" class="d-inline">
                                                {% csrf_token %}
                                            <input type="submit" class="btn btn-success btn-sm" value="Edit"/>
                                            </form></td>
                                            <td><form action="{% url 'deletePost' post.id %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-success btn-sm" value="Delete"/>
                                            </form></td>
                                        </tr>
                                    </table>
                                    
                                    <br/>
                                    
                                </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                {% else %}
                    <h4 class="text-center alert alert-warning">No Data</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content%}